@font-face {
  font-family: "Cuprum";
  src:  local("Cuprum"),
        url("../fonts/cuprum.woff2"),
        url("../fonts/cuprum.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:  local("Cuprum"),
        url("../fonts/cuprumitalic.woff2"),
        url("../fonts/cuprumitalic.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:  local("Cuprum"),
        url("../fonts/cuprumbolditalic.woff2"),
        url("../fonts/cuprumbolditalic.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:  local("Cuprum"),
        url("../fonts/cuprumbold.woff2"),
        url("../fonts/cuprumbold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url("../fonts/ptsans.woff2"),
        url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url("../fonts/ptsansbold.woff2"),
        url("../fonts/ptsansbold.woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-darkgrey: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #ffffff;
  --basic-orange: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --special-orange: #FFC047;
  --popular-section-color: #F9F5F0;
  --special-orange: #FFD180;
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --hover-grey: #1D2739;
  --active-grey: #1D2739;
  --greylight-alpha: rgba(197, 197, 197, 0.3);
  --mediumgrey-alpha: rgba(169, 169, 169, 0.3);
  --dark-blue: #32425C;
  --basic-black: #000000;
  --white-alpha: rgba(255, 255, 255, 0.5);
  --intense-dadrkblue: #161D29;
  --promo-link: rgba(255, 255, 255, 0.3);
  --special-green: #8ED78F;
  --black-alpha: rgba(0, 0, 0, 0.25);
  --oldprice-color: #a9a9a9;
  --inset-button-buy: #367315;
  --inset-button-services-slider: #405069;
  --sorting-box-color: #F7F3EC;
  --pagination-border-color: #E5E5E5;
}

/* -------global --------*/

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;

  color: var(--basic-black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------container------ */

.user-navigation-container,
.header-container,
.main-container,
.services-main-container,
.about-main-container,
.catalog-main-container,
.info-main-container,
.footer-main-container,
.social-main-container {
  width: 940px;
  margin: 0 auto;
}

/* -----index------*/
/*-------header------*/

.main-header {
  background-color: var(--basic-background);
}

.user-navigation {
  font-size: 18px;
  line-height: 24px;

  color: var(--white);
  background-color: var(--basic-darkgrey);
}

.user-navigation a {
  display: inline-block;

  color: var(--white);
}

.bookmarks,
.basket {
  padding-top: 9px;
  padding-left: 21px;
  padding-bottom: 9px;
  padding-right: 35px;
}

.user-navigation-search {
  border: none;
  
  background-color: var(--basic-darkgrey);
}

.user-navigation-container input::placeholder {
  opacity: 1;
  color: var(--white);
}

.user-navigation-search:hover,
.user-navigation-search:focus {
  color: var(--basic-black);
  background-color: var(--white);
}

.user-navigation .order {
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 19px;

  background-color: var(--basic-green);
}

.user-navigation .order:hover,
.user-navigation .order:focus {
  background-color: var(--hover-green);
}

.user-navigation .order:active {
  color: var(--white-alpha);
  background-color: var(--basic-green);
}

.user-navigation .bookmarks:active,
.user-navigation .basket:active {
  color: var(--white-alpha);
  background-color: var(--intense-dadrkblue);
}

.header-container p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: var(--basic-red);
}

.header-phone {
  display: block;

  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
  border: 3px solid var(--white);

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  color: var(--basic-red);
}

.header-phone-container address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;

  color: var(--dark-blue);
}

.user-area {
  font-size: 21px;
  line-height: 21px;
}

.log-in {
  display: inline-block;

  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;

  color: var(--basic-black);
  background-color: var(--white);
}

.registration {
  display: inline-block;
  
  padding: 12px 24px;

  color: var(--basic-black);
  background-color: var(--white);
}

.log-in:hover,
.log-in:focus,
.registration:hover,
.registration:focus {
  color: var(--basic-red);
}

.log-in:active,
.registration:active {
  color: var(--basic-greylight);
}

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  
  list-style: none;
  box-shadow: inset 0px -5px 0px var(--basic-darkgrey);

  background-color: var(--dark-blue);
}

.main-navigation a {
  color: var(--white);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--basic-darkgrey);
}

.main-navigation a:active {
  color: var(--white-alpha);
  background-color: var(--hover-grey);
}

/*-----main------*/
/*-----promo-----*/

.promo,
.promo a {
  color: var(--white);
}

.promo > div:not(.promo-slider) {
  width: 300px;
  height: 123px;
}

.promo-materials h3,
.promo-tool h3,
.promo-technic h3,
.promo-discount h3,
.promo-delivery h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-materials a,
.promo-tool a,
.promo-technic a,
.promo-discount a,
.promo-delivery a {
  display: inline-block;
  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--promo-link);
}

.promo-materials a,
.promo-discount a {
  padding: 10px 23px;
}

.promo-tool a {
  padding: 10px 26px;
}

.promo-technic a {
  padding: 10px 30px;
}

.promo-delivery a {
  padding: 10px 36px;
}

.promo-materials a:hover,
.promo-tool a:hover,
.promo-technic a:hover,
.promo-discount a:hover,
.promo-delivery a:hover,
.promo-materials a:focus,
.promo-tool a:focus,
.promo-technic a:focus,
.promo-discount a:focus,
.promo-delivery a:focus {
  background-color: var(--greylight-alpha);
}

.promo-materials a:active,
.promo-tool a:active,
.promo-technic a:active,
.promo-discount a:active,
.promo-delivery a:active {
  background-color: var(--mediumgrey-alpha);
}

.promo-materials {
  background-color: var(--basic-orange);
}

.promo-tool {
  background-color: var(--basic-blue);
}

.promo-technic {
  background-color: var(--basic-purple);
}

.promo-discount {
  background-color: var(--special-green);
}

.promo-delivery {
  background-color: var(--special-orange);
}

.promo-slider-first-slide,
.promo-slider-second-slide {
  width: 620px;
  height: 266px; /*Подложка под изображение*/
  
  background-color: var(--basic-greylight);
}

.promo-slider-first-slide h3,
.promo-slider-second-slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-slider-first-slide p,
.promo-slider-second-slide p {
  font-size: 18px;
  line-height: 24px;
}

.promo-slider-first-slide a,
.promo-slider-second-slide a {
  padding: 10px 46px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.promo-slider-first-slide a:hover,
.promo-slider-second-slide a:hover,
.promo-slider-first-slide a:focus,
.promo-slider-second-slide a:focus {
  background-color: var(--hover-red);
}

.promo-slider-first-slide a:active,
.promo-slider-second-slide a:active {
  background-color: var(--active-red);
}

/*------popular-product------*/

.popular-product-header,
.popular-manufacturer-header {
  background-color: var(--popular-section-color);
}

.popular-product-header h2,
.popular-manufacturer-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--dark-blue);
}

.popular-product-header a {
  display: inline-block;
  
  padding: 10px 24px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--basic-red);
}

.popular-manufacturer-header a {
  display: inline-block;

  padding: 10px 38px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--basic-red);
}

.popular-product-header a:hover,
.popular-product-header a:focus,
.popular-manufacturer-header a:hover,
.popular-manufacturer-header a:focus {
  background-color: var(--hover-red);
}

.popular-product-header a:active,
.popular-manufacturer-header a:active {
  background-color: var(--active-red);
}

.popular-product-list {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;

  list-style: none;
}

.popular-product-item p:first-of-type {
  font-size: 18px;
  line-height: 20px;
}

.popular-product-oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;

  color: var(--oldprice-color);
}

.popular-product-item p:last-of-type {
  width: 140px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;

  color: var(--white);
  background-color: var(--basic-red); /*Временно задан красный бэк , потом срелка будет свг бэкграундом*/
}

.product-item-hover .button {
  width: 135px;
  height: 38px;

  border: none;
  border-radius: 2px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-item-hover .button-buy {
  box-shadow: inset 0px -3px 0px var(--inset-button-buy);
  color: var(--white);
  background-color: var(--basic-green);
}

.product-item-hover .button-buy:hover, 
.product-item-hover .button-buy:focus {
  outline: 0; /* Здесь и далее этот фрагмент убирает outline в хроме и пунктир в ФФ */
  outline-offset: 0;
  background-color: var(--hover-green);
}

.product-item-hover .button-buy:active {
  outline: 0;
  outline-offset: 0;
  background-color: var(--active-green);
}

.product-item-hover .button-mark {
  border: 3px solid var(--basic-green);
  color: var(--dark-blue);
  background-color: var(--white);
}

.product-item-hover .button-mark:hover,
.product-item-hover .button-mark:focus {
  border: 3px solid var(--dark-blue);
  outline: 0;
  outline-offset: 0;
}

.product-item-hover .button-mark:active {
  border: 3px solid var(--basic-greylight);
  outline: 0;
  outline-offset: 0;
  opacity: .5;
}

/*-----popular-manufacturer-------*/

.popular-manufacturer-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

/*------services-------*/

.services {
  background-color: var(--basic-background);
}

.services-main-container h2,
.services-main-container h3  {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.services-main-container p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px; 
}

.services-slider-controls-list {
  list-style: none;
}

.services-slider-controls-button {
  width: 240px;
  height: 60px;

  border: none;
  
  font-family: inherit;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  
  box-shadow:
   0px 1px 0px var(--basic-darkgrey),
  inset 0px 1px 0px var(--inset-button-services-slider);
  color: var(--white);
  background-color: var(--dark-blue);
}

.services-slider-controls-button:hover,
.services-slider-controls-button:focus {
  outline: 0;
  outline-offset: 0;
  color: var(--white);
  background-color: var(--basic-darkgrey);
}

.services-slider-controls-button:active {
  outline: 0;
  outline-offset: 0;
  box-shadow: 0px 1px 0px var(--white);
  color: var(--dark-blue);
  background-color: var(--white);
}

.services-button-current {
  box-shadow: 0px 1px 0px var(--white);
  color: var(--dark-blue);
  background-color: var(--white);
}

.services-slider-credit a {
  display: inline-block;

  padding-top: 13px;
  padding-right: 43px;
  padding-bottom: 15px;
  padding-left: 46px;
  border-radius: 3px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--basic-red);
}

.services-slider-credit a:hover,
.services-slider-credit a:focus {
  background-color: var(--hover-red);
}

.services-slider-credit a:active {
  background-color: var(--active-red);
}

/*------- about ---------*/

.about-main-container h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.about-main-container p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.about-company-item {
  font-size: 18px;
  line-height: 24px;
}

.more {
  display: inline-block;

  padding: 10px 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--basic-red);
}

.write-us {
  display: inline-block;

  padding: 10px 61px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--basic-red);
}

.more:hover,
.more:focus,
.write-us:hover,
.write-us:focus {
  background-color: var(--hover-red);
}

.more:active,
.write-us:active {
  background-color: var(--active-red);
}

.main-footer {
  font-size: 18px;
  line-height: 24px;

  color: var(--white);
  background-color: var(--dark-blue);
}

.footer-navigation-list,
.footer-assortment-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-navigation-list a {
  color: var(--white);
}

.footer-assortment-container address {
  font-style: normal;
}

.footer-assortment-container .footer-phone {
  color: var(--white);
}

.footer-assortment-item a {
  color: var(--special-orange);
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-assortment-list a:hover,
.footer-assortment-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-assortment-list a:active {
  opacity: .5;
  text-decoration: none;
}

.footer-social-container {
  font-size: 16px;
  line-height: 18px;

  background-color: var(--basic-darkgrey);
}

.footer-social-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.footer-social-item a {
  color: var(--white);
}

.feedback,
.developed {
  color: var(--special-orange);
}

/*------inner-----*/
/*------header------*/

.basket-current {
  background-color: var(--basic-red);
}

.user-log-in-container {
  width: 300px;
  height: 45px;

  background-color: var(--white);
}

.user-log-in-link {
  color: var(--basic-black);
}

.user-log-in > a {
  font-size: 16px;
  line-height: 18px;

  color: var(--dark-blue);
}

.user-log-in > a:hover,
.user-log-in > a:focus {
  color: var(--basic-red);
}

.user-log-in > a:active,
.user-log-in-link:active {
  color: var(--basic-greylight);
}
 
/*------ bredcrumbs -------*/

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--basic-black);
}

/*------- sorting -------*/

.catalog-header {
  height: 89px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--dark-blue);
  background-color: var(--basic-background);
}

.sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: var(--sorting-box-color);
}

.sorting-button {
  padding: 0;

  border: none;
  border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  color: var(--black-alpha);
  background-color: transparent;
}

.sorting-button:hover,
.sorting-button:focus {
  border-bottom: 1px solid var(--basic-red);
  
  outline: 0;
  outline-offset: 0;
  color: var(--basic-black);
}

.sorting-button:active {
  border: none;
  
  outline: 0;
  outline-offset: 0;
  color: var(--basic-red);
}

.sorting .sorting-current {
  border: none;

  color: var(--basic-red);
}

/*---------- catalog ---------*/

.catalog-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item > p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-item-oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;

  color: var(--oldprice-color);
}

.catalog-item p:last-of-type {
  width: 140px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;

  color: var(--white);
  background-color: var(--basic-red); /*Временно задан красный бэк , потом срелка будет свг бэкграундом*/
}

.catalog-controls {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-controls a {
  display: inline-block;
  
  padding: 10px 15px;
  border: 1px solid var(--pagination-border-color);
  
  border-radius: 2px;
}

.catalog-controls a:hover,
.catalog-controls a:focus {
  border: 1px solid var(--basic-greylight);
}

.catalog-controls a:active {
  border: 1px solid var(--basic-red);
}

.catalog-controls .current-page {
  color: var(--white);
  background-color: var(--basic-red);
}

.catalog-controls button {
  width: 140px;
  height: 38px;

  border: 1px solid var(--pagination-border-color);
  
  border-radius: 2px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  background-color: transparent;
}

.catalog-controls button:hover,
.catalog-controls button:focus {
  border: 1px solid var(--basic-greylight);
}

.catalog-controls button:active {
  border: 1px solid var(--basic-red);
}

/*------ info -------*/

.info {
  background-color: var(--basic-background);
}

.info-main-container h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.info-main-container p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}